.env
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
*.egg-info/
mlruns/
mlflow_artifacts/
chroma_data/
*.Zone.Identifier

# Ignore .md, but not README.md
*.md
!README.md

#Ignore folders
M.Agent-Deep-RAG-main/
data/